/* ant框架样式调整 */

// 数据列表样式
.ant-table-middle, .ant-table-small {
  .ant-table-body {
    margin: 0 !important;
    table {
      .ant-table-thead > tr > th {
        font-weight: bold;
        background-color: #fafafa !important;
      }
      .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
        text-align: center;
      }
      .ant-table-tbody > tr.ant-table-expanded-row > td {
        text-align: left;
      }
    }
  } 
}
.ant-table-small.ant-table-bordered .ant-table-tbody > tr > td:last-child {
  border-right: none;
}

// 搜索表单布局
.searchForm.ant-form-inline {
  overflow: hidden;
  .ant-form-item {
    float: left;
    width: 25%;
    display: flex;
    margin-bottom: 24px;
    margin-right: 0;
    padding-right: 16px;
    &.ant-form-item-with-help {
      margin-bottom: 4px;
    }
    .ant-btn-primary {
      margin-top: 4px;
    }
    .ant-form-item-control-wrapper {
      flex: 1 1;
    }
  }
  @media screen and (max-width: 1100px) {
    .ant-form-item {
      width: 33%;
    }
  }
}

// danger类型按钮样式修改
.ant-btn-danger {
  color: $red !important;
  &:hover {
    background-color: #f5f5f5 !important;
    color: $red !important;
    border-color: $red !important;
  }
}

// 下拉菜单
.downMenu .ant-dropdown-menu-item{
  &:hover {
    a {
      background-color: #afe5f6;
    }
  }
}